label {
    width:100%;
    font-family: Arial;
    text-align: center;
}

.labelInfoGender{
    margin: 8px 8px;
}

input {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}

.inputPersonal:hover {
    border-color: rgba(0,0,0)
}

.inputPersonal, select {
    width:100%;
    padding:8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    padding: 8px 10px;
    border:none;
}


/*Estilos para boton*/
input[type="button"]{
    width: 15%;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit{
    background-color: #4CAF50;
}

#submit:hover{
    background-color: #3b7a3d;
}

#cancel{
    background-color: #aa2b2b;
}
#cancel:hover{
    background-color: #521515;
}





form {
    background-color: white;
    padding: 20px 20px;
    border: 1px ridge lightgray;
    width:30%;
    border-radius: 4px;
}

h3{
    font-family:arial;
    font-size: 18px;
    text-align:center;
    margin: 10px 0;
    border-radius: 4px;
}

#titulo{
    margin: 0px 0px;
    background-color: rgb(1, 30, 110);
    text-decoration: solid white;
}

h1 {
    margin: 0 0 0 20px;
    font: bold;
    font-style: italic;
    font-family: arial;
    text-align: left;
    color: white;
}

body {
    background-color: rgba(247, 247, 247, 0.411);
    margin: 0 5%;
    border-radius: 4px;
    border-style: groove;

}

#left{
    float: left;
}
#right {
    float: right;
}