body {
}

h1 {
    color: transparent;
    text-decoration-color:ActiveBorder;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
    font-size: 40px;
    line-height: .75;
    margin: 10px 0;
    text-align: center;
}

h3 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: left;
    margin: 5px 0px 15px 0px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #ffffff;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

input{
    margin:5px 0;
    border-radius: 5px;
}

#divForms{
    width: 50%;
    float: left;
}

#divWeather {
    width: 50%;
    float: right;
    border: 2px solid rgba(105, 105, 105, 0.83);
    border-radius: 5px;
    background-image: url(https://media.giphy.com/media/o7R0zQ62m8Nk4/giphy.gif);
    background-position: center;
    /*background-image: url(https://media.giphy.com/media/fKvKAbkg5OtGw/giphy.gif);*/
    background-size: cover;
}

#divInfoWeather {
   text-align: center;
   font-family:Arial;
   font-size: 14px;
}

#fecha{
    padding: 10px;
    text-align: left;
    font-size: 20px;
    font:bold;
}

form {
    border: 2px solid rgba(105, 105, 105, 0.83);
    border-radius: 5px;
    width: 50%;
    margin: 5px 20px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    background-color: #2d2d2d;
    box-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

p{
    font-family:Calibri;
    font-size: 24px;
}


