@model Lab.Web.Models.LocationModel


<h2>@ViewBag.Title</h2>

<div class="formulario">
    @using (Html.BeginForm("InsertOrUpdate", "Location", FormMethod.Post))
    {
        @Html.HiddenFor(l => l.Id)
        <div>Ciudad: @Html.TextBoxFor(l => l.City, new { @class = "form-control" })</div>
        <p>
            <input type="submit" value="Guardar" name="Save" />
        </p>
    }
</div>

