@model Lab.Web.Models.LocationModel

@{
    ViewBag.Title = "Insertar";
}

<h2>@ViewBag.Title</h2>
<div class="formulario">
    @using (Html.BeginForm("InsertLocation", "Location", FormMethod.Post))
    {
        <div>Ciudad: @Html.TextBoxFor(l=>l.City)</div>
        <p>
            <input type="submit" vale="Guardar" name="Save"/>
        </p>
    }
</div>