@model Lab.Web.Models.LocationModel

<link rel="stylesheet" type="text/css" href="~/Content/EstilosInsertUpdate.css" media="screen" />

<h2>@ViewBag.Title</h2>

<div class="formulario">
    <div class="interno">
        @using (Html.BeginForm("InsertOrUpdate", "Location", FormMethod.Post))
        {
            @Html.HiddenFor(l => l.Id)
            <div class="interno" id="interno-texto">Ciudad: @Html.TextBoxFor(l => l.City, new { @class = "city-text" })</div>
            <p>
                <input type="submit" value="Guardar" name="Save" />
                <input type="reset" value="Cancelar" name="Abort" />
            </p>
        }
    </div>

</div>

