@{
    ViewBag.Title = "Home Page";
}

<!--JS-->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/alertify.min.js"></script>

<!--CSS-->
<link rel="stylesheet" type="text/css" href="~/Content/EstiloHome.css" media="screen" />
<link rel="stylesheet" href="~/Content/alertifyjs/alertify.min.css" />
<link rel="stylesheet" href="~/Content/alertifyjs/themes/default.min.css" />


<div style="display:flex;padding:10% 0">
    <div class="div-category">
        <a href="@Url.Action("Index", "Location")">
            <img src="https://ainox.com.mx/wp-content/uploads/2020/04/icono-ubicacion-color-plano-mapa-papel_52465-148.jpg">
            <h2>UBICACIONES</h2>
        </a>
    </div>
    <div class="div-category">
        <a>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRsBXvTFM6yd_wn5Ie72Q7ARLOg0kVBIGH8dQ&usqp=CAU">
            <h2>DEPARTAMENTOS</h2>
        </a>
    </div>
    <div class="div-category">
        <a>
            <img src="https://conektia.com/wp-content/uploads/2018/09/empleados-conektia.png">
            <h2>EMPLEADOS</h2>
        </a>
    </div>
</div>
<p>
    @Session["User"]
</p>